/* body{
    background-color: black;
} */
h1{
    padding-left: 20%;
    padding-top: 5%;
}
h2{
    background-color: black;
    padding-left: 5%;
    padding: 5%;
    color:grey;
}
#item{
    margin-left: 25%;
}
#hello{
    margin-left: 25%;
    border: 5px;
    border-color: black;    
}